/*Typos
font-family: 'Manrope', sans-serif;
font-family: 'Martian Mono', monospace;*/
/*Colores
Lila claro: #DFBEDD
Lila fuerte: #C497C4
Azul: #4165E3*/

/*Generales*/
h1{
    font-size: 66px;
    font-family: 'Martian Mono', monospace;
    letter-spacing: -3px;
    font-weight: 700;
    margin: 20px 0;
    color: #000;
}

h2{
    font-size: 54px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    color: #000;
}

h3{
    font-size: 40px;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    color: #000;
}

h4{
    font-size: 16px;
    font-family: 'Martian Mono', monospace;
    font-weight: 300;
    color: #000;
}

h5{
    font-family: 'Martian Mono', monospace;
    font-weight: 300;
    font-size: 13px;
    color: #000;
}

h6{
    /*Nombre del proyecto*/
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #000;
    margin-bottom: 0;
}

a{
    text-decoration: none;
}

p{
    font-family: 'Martian Mono', monospace;
    font-size: 13px;
    font-weight: 300;
}

p b{
    font-weight: 600;
}

/*Body*/
body{
    background-image: url(../imagenes/home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*NavBAR TRES*/
.navbar{
    background-color: black;
    padding-top: 28px;
    padding-bottom: 28px;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand{
    font-size: 17px !important;
    font-weight: 500 !important;
    border-right: white solid 1px;
    padding-right: 20px;
    color: white !important;
    margin-right: 0 !important;
    padding-bottom: 0;
    padding-top: 0;
}

.navbar a{
    color: white;
    font-size: 16px;
}

.dropdown-item{
    color: #000 !important;
}

.dropdown-item:hover{
    color: white !important;
    background-color: black;
}

.nav-item{
    border-right: white solid 1px;
    color: white !important;
    padding: 0 20px;
}


.menu-nav-ablanco{
    color: white !important;
    padding: 0 !important;
}

.menu-centro{
    margin: 0 !important;
    text-align: center;
}

.contacto{
    border-left: white solid 1px;
    padding-left: 20px;
}

.contacto-li{
    display: none;
}

.no-border-nav{
    border: 0px !important;
}

.navbar-toggler{
    margin: 0;
}


/*Header*/
.header-main {
    margin: -230px 0 140px;
}

.header-main  b{
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}

.header-main  p{
    font-size: 11px;
    margin: 0;
    font-weight: 300;
    color: #717171;
}

.header-main a{
    /* color: black; */
    /* border: 1px black solid; */
    color: #fff;
    text-align: center;
    background-color: black;
    border-radius: 15px;
    padding: 18px 74px;
    margin-top: 80px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
    transform: scale(1);
}

.header-main a:hover{
    background-color: black;
    color: white;
    transform: scale(1.02);
}

.head-imgs-row{
    position: relative;
    top: 410px;
    right: 100px;
    z-index: -1000;
}
.ojo-2{
    width: 160px;
}

.ojo-1{
    width: 440px;
}

.header-main img{
    filter: brightness(.97); 
    border: white 1px solid;
    border-radius: 50%;
    padding: 12px;
}

/*Section 1: Hacerlo es posible*/
.hacerlo-posible hr{
    border: solid black -5px !important;
    opacity: 1;
}

.en-movimiento{
    padding: 20px 0;
}

.marquee{
    width: 100%;
    overflow: hidden;
    position: relative;
    font-size: 13px;
}

.text{
    color: #000000;
}

.marquee div {
    display: flex;
    white-space: nowrap;
    animation: marquee 3s linear infinite;
} 

.marquee div span {
    flex-shrink: 0;
    font-family: 'Martian Mono', monospace;
    font-weight: 300;
    text-align: center;
} 

.dot{
    width: 1.3em;
    background-image: url("../imagenes/home/dot-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.marquee span.text {
    width: 270px;
    letter-spacing: 2px;
    text-align: center;
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-22em); }
}


/*Section 2: Quien soy*/
.quien-soy{
    padding: 140px 15% 90px 15%;
}

.quien-soy h3{
    margin: 60px 0 30px 0;
}

.vidrio{
    background-image: url(../imagenes/home/vidrio-pruebatres.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.quien-soy p{
    margin-bottom: 80px;
}

.quien-soy img{
    background-color: #4165E3;
    border-radius: 50%;
    border: solid black 1px;
    width: 160px;
    margin-bottom: 100px;
    padding: 5px;
    transform: rotate(0deg);
    transition: all .5s ease;
}

.quien-soy img:hover{
    background-color: #DFBEDD;
    transform: rotate(180deg) scale(1.1);
}

/*Section 3: Curriculum*/

.curriculum{
    padding-top: 90px;
    padding-bottom: 90px;
}

.curriculum b{
    font-weight: 600;
}

.curri-uno{
    /*Change images to another ones with less brightness*/
    background-image: url(../imagenes/home/curriculum-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: end;
    border-radius: 15px;
    border: 1px black solid;
    padding: 80px 6% 120px 0;
    margin-left: 10px;
    margin-right: 10px;
}

.curri-dos{
    background-image: url(../imagenes/home/curriculum-1-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 0;
    border-radius: 15px;
    border: 1px black solid;
    margin-left: 10px;
    margin-right: 10px;
}

.change-filter{
    filter: saturate(0);
    transition: all .1s ease;
}

.change-filter:hover{
    filter: saturate(1);
}

.change-filter h3{
    color: white;
}
.change-filter h4{
    color: white;
}

.change-filter:hover h3{
    color: black;
}
.change-filter:hover h4{
    color: black;
}

.change-filter a{
    border: solid white 1px !important;
    color: white;
    text-align: center;
    border-radius: 15px;
    padding: 18px 40px;
    display: inline-block;
    margin-top: 10px;
    transform: scale(1);
}

.change-filter:hover a{
    background-color: black;
    border: solid black 1px !important;
    color: white;
    border: 0px;
}

.curriculum a{
    transition: all ease .4s;
}

.curriculum a:hover{ 
    transform: scale(.96);
}

.curri-tres{
    padding: 80px 50px;
    background-color: black;
    border-radius: 15px;
    border: 1px black solid;
}

.curriculum p{
    text-align: justify;
}

/*Section 4: Conoce*/
.conoce{
    margin-top: 90px;
    padding: 20px 0 20px;
    margin-bottom: 30px;
}

.conoce h3{
    margin-bottom: 0 !important;
}

.conoce hr{
    border: solid black -5px !important;
    opacity: 1;
    margin: 0;
    width: 66%;
    vertical-align: middle;
    display: inline-block;
}

.centro-conoce{
    text-align: center;
    padding: 0 0 !important;
}

.lado-conoce{
    padding: 0 0 !important;
    text-align: center;
}
.conoce img{
    width: 14px;
}

.punto{
    display: inline-block;
    padding: 0 5%;
}


/*Section 5: Conoce 2*/
:root {
    --card-width: 200px;
    --card-height: 400px;
    --card-transition-duration: 800ms;
    --card-transition-easing: ease;
}
  
  /*Background*/
  
.conoce-dos-sec {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.787);
    overflow: hidden;
}
  
button {
    border: none;
    background: none;
    cursor: pointer;
}

button:focus {
    outline: none;
    border: none;
}
  
.app {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
    filter: blur(6px) saturate(0);
    pointer-events: none;
    user-select: none;
    overflow: hidden;
}

.app__bg::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 1;
    opacity: 0.7;
}

  .app__bg__image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
    width: 180%;
    height: 180%;
    transition: transform 1000ms ease, opacity 1000ms ease;
    overflow: hidden;
  }
  .app__bg__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .app__bg__image.current--image {
    opacity: 1;
    --image-translate-offset: 0;
  }
  .app__bg__image.previous--image, .app__bg__image.next--image {
    opacity: 0;
  }
  .app__bg__image.previous--image {
    --image-translate-offset: -25%;
  }
  .app__bg__image.next--image {
    --image-translate-offset: 25%;
  }
  
  /*Botones*/
  .cardList {
    position: absolute;
    width: calc(3 * var(--card-width));
    height: auto;
    /*Contenedor imagenes*/
  }
  .cardList__btn {
    --btn-size: 35px;
    width: var(--btn-size);
    height: var(--btn-size);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
  }
  .cardList__btn.btn--left {
    left: -5%;
  }
  .cardList__btn.btn--right {
    right: -5%;
  }
  .cardList__btn .icon {
    width: 100%;
    height: 100%;
  }
  .cardList__btn .icon svg {
    width: 100%;
    height: 100%;
  }
  .cardList .cards__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1000px;
  }
  
  .card {
    --card-translateY-offset: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
    display: inline-block;
    width: var(--card-width);
    height: var(--card-height);
    transition: transform var(--card-transition-duration) var(--card-transition-easing);
    user-select: none;
  }
  .card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 15px;
    z-index: 1;
    transition: opacity var(--card-transition-duration) var(--card-transition-easing);
    opacity: calc(1 - var(--opacity));
  }
  .card__image {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .card__image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: black 1px solid;
    border-radius: 15px;
  }
  .card.current--card {
    --current-card-rotation-offset: 0;
    --card-translateX-offset: 0;
    --card-rotation-offset: var(--current-card-rotation-offset);
    --card-scale-offset: 1.2;
    --opacity: 0.8;
  }
  .card.previous--card {
    --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
    --card-rotation-offset: 0deg;
  }
  .card.next--card {
    --card-translateX-offset: calc(var(--card-width) * 1.1);
    --card-rotation-offset: 0deg;
  }
  .card.previous--card, .card.next--card {
    --card-scale-offset: 0.9;
    --opacity: 0.4;
  }
  
  /*Texto*/
  .infoList {
    position: absolute;
    width: calc(3 * var(--card-width));
    height: var(--card-height);
    pointer-events: none;
  }
  .infoList .info__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  
  .info {
    margin-bottom: calc(var(--card-height) / 9);
    margin-left: calc(var(--card-width) / 1);
    transform: translateZ(2rem);
    transition: transform var(--card-transition-duration) var(--card-transition-easing);
  }
  .info .text {
    position: relative;
    font-family: 'Manrope', sans-serif;
    font-size: calc(var(--card-width) * var(--text-size-offset, 0.15));
    white-space: nowrap;
    color: #fff;
    width: fit-content;
  }
  .info .name,
  .info .location {
    text-transform: uppercase;
  }
  .info .location {
    font-weight: 400;
  }
  .info .location {
    --mg-left: 40px;
    --text-size-offset: 0.12;
    font-weight: 300;
    margin-left: var(--mg-left);
    margin-bottom: calc(var(--mg-left) / 2);
    padding-bottom: 0.6rem;
  }
  .info .location::before, .info .location::after {
    content: "";
    position: absolute;
    background: #fff;
    left: 0%;
    transform: translate(calc(-1 * var(--mg-left)), -50%);
  }
  .info .location::before {
    top: 50%;
    width: 20px;
    height: 5px;
  }
  .info .location::after {
    bottom: 0;
    width: 60px;
    height: 2px;
  }
  .info .description {
    --text-size-offset: 0.065;
    font-weight: 200;
  }
  .info.current--info {
    opacity: 1;
    display: block;
  }
  .info.previous--info, .info.next--info {
    opacity: 0;
    display: none;
  }
  
  @media only screen and (min-width: 800px) {
    :root {
      --card-width: 250px;
      --card-height: 430px;
    }
  }



/*Conoce tres*/
.conoce-tres img{
    width: 150px;
    background-color: white;
    border: black 1px solid;
    border-radius: 50%;
    padding: 5px;
    transition: all .5s ease;
    transform: scale(1) rotate(0deg);
}

.conoce-tres img:hover{
    background-color: #DFBEDD;
    transform: scale(.97) rotate(180deg);
}

.caja-vetodos1{
    position: relative;
    bottom: 600px;
}

.caja-vetodos2{
    position: relative;
    bottom: 210px;
}


/*Contacto*/
.contactame{
    padding: 90px 0 90px;
}

.fondo-contactame{
    background-color: white;
    border: solid 1px black;
    padding: 50px 0px;
    border-radius: 15px;
}

.contactame h3{
    padding-bottom: 40px;
}

input{
    font-family: 'Martian Mono', monospace;
    color: black !important;
    font-size: 11px !important;
}

.form-control{
    border: solid 1px black !important;
    color: black !important;
}

button{
    background-color: black !important;
    color: white !important;
    font-family: 'Manrope', sans-serif;
    font-size: 15px !important;
    border-radius: 12px !important;
    padding: 12px 50px !important;
    margin-top: 30px;
}

/*Section 6: Social media*/
.social-media{
    padding: 90px 0 200px 0;
}

.social-media h3{
    width: auto;
}

.social-media b{
    font-family: 'Martian Mono', monospace;
    font-size: 34px;
    font-weight: 600;
    margin-top: 16px;
}

.social-media img{
    background-image: url('../imagenes/home/back-redes.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid black 1px !important;
    border-radius: 15px;
    transform: scale(1);
    transition: all ease .3s;
}

.social-media img:hover{
    transform: scale(1.05);
}

.imgs-media{
    padding: 0 10%;
}


.text-media{
    padding: 0 10% 70px;
}

.social-media h4{
    font-weight: 400;
    margin-top: 46px;
    font-family: 'Manrope', sans-serif;
}

.so-link{
    margin-top: 30px;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    color: black;
    display: inline-block;
}


/*Footer*/
footer{
    padding: 100px 0 50px;
    background-color: black;
    color: white;
}

footer h3{
    font-size: 53px;
    color: white !important;
}
footer b{
    font-weight: 400;
    font-size: 50px;
    font-family: 'Martian Mono', monospace;
}

footer a{
    color: white;
    font-family: 'Manrope', sans-serif;
    margin-bottom: 24px;
    display: block;
    font-size: 16px;
}

footer a:hover{
    color: #DFBEDD;
}
.dos-row{
    margin-top: 12px;
    margin-bottom: 20px;
}

footer img{
    width: 60px;
}

.flecha{
    margin-bottom: 15px;
}

footer hr{
    border: solid white -5px !important;
    opacity: 1;
    margin: 0;
}

footer p{
    margin-top: 35px;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
}

.links-footer{
    justify-content: end;
    position: relative;
    top: -80px;
}



/*PORTAFOLIO*/
/*PORTAFOLIO*/
/*PORTAFOLIO*/
/*PORTAFOLIO*/

/*Might be GENERAL in all portfolio images*/

.designs-brightness-plush6{
    transition: all ease .7s;
}

.designs-brightness-plush6 h6{
    opacity: 0;
    color: white;
}

.designs-brightness-plush6:hover h6{
    opacity: 1;
}

.designs-brightness-plush6:hover img{
    filter: brightness(.5);
    transform: scale(.992);
}


/*Imágenes con col-6 que comparten 50% con otra col-6*/
.col48-no50{
    width: 48%;
}



/*Portafolio Header*/
.header-portafolio{
    background-color: #000;
    padding: 60px 0 40px;
    margin-top: 80px;
    margin-bottom: 90px;
}
.header-portafolio h3{
    margin-bottom: 24px;
    display: inline-block;
    color: white !important;
}
.ultpro-1{
    height: 464px;
    object-fit: cover;
    border-radius: 15px;
}
.ultpro-2{
    height: 310px;
    object-fit: cover;
    border-radius: 15px;
}
.ultpro-3{
    height: 204px;
    object-fit: cover;
    border-radius: 15px;
}


/*Logos*/
.logos{
    padding: 90px 0;
}

.logo-img{
    width: 300px;
    border: black solid 1px;
    border-radius: 15px;
    transition: all ease .3s;
}


.ver-todos-logo a{
    text-align: center;
    color: white !important;
    background-color: black;
    border-radius: 15px;
    padding: 18px 74px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
    margin-top: 50px;
}

/*Branding*/
.branding{
    padding: 90px 0 30px;
}

.branding-1-row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.branding-1-col{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.text-wrapper { 
    display: flex;
    justify-content:flex-start;
    overflow: hidden;
    width: 100%;
}

.text-wrapper h3{
    white-space: nowrap;
    padding: 0 10rem;
    letter-spacing: 1px;
    animation: move-rtl 6000ms linear infinite;
    text-align: center;
    opacity: 1 !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.color{
    background-color: rgb(0, 0, 0, 0.1);
}

@keyframes move-rtl{
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(-100%);
    }
}

/*Branding 2*/
.branding-2{
    padding-bottom: 90px;
}

.brand-img{
    border: solid black 1px !important;
    border-radius: 15px;
    width: 100%;
    object-fit: cover;
}

.ver-todos-brand a{
    text-align: center;
    color: white !important;
    background-color: black;
    border-radius: 15px;
    padding: 18px 74px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
    margin-top: 46px;
}

/*Diseño web*/
.diseno-web{
    padding: 90px 0;
}

.diwe-img-1{
    height: 520px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
    border: black solid 1px;
}

.diwe-img-2{
    height: 262px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
    border: black solid 1px;
}

.diseno-web i{
    font-size: 32px;
    margin-right: 16px;
}

.color-we-1{
    color: #E51717;
}

.color-we-2{
    color: #485400;
}

.color-we-3{
    color: #565555;
}

.color-we-4{
    color: #2C2C2C;
}

.ver-web a{
    text-align: center;
    color: white !important;
    background-color: black;
    border-radius: 15px;
    padding: 18px 74px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
    margin-bottom: 20px;
}


/*Artes para redes*/
.artes{
    padding: 90px 0;
}

.fila-artes{
    margin: 70px 0 10px;
}

.artes-img{
    border: black solid 1px;
    margin-bottom: 20px;
}

.ver-todos-artes a{
    text-align: center;
    color: white !important;
    background-color: black;
    border-radius: 15px;
    padding: 18px 74px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
    margin-top: 50px;
}


/*Poster design*/
.poster{
    padding: 90px 0;
}

.dot-poster-design{
    width: 16px;
    vertical-align: middle;
}


/*Ilustraciones*/
.ilustraciones{
    padding: 90px 0 120px;
}

.ilustracion-1{
    background-image: url('../imagenes/portafolio/ilustracion-uno.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    border: #000000 1px solid;
    margin-bottom: 24px;
}

.ilustracion-2{
    background-image: url('../imagenes/portafolio/ilustracion-dos.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    border: #000000 1px solid;
    margin-bottom: 24px;
}

.ilustracion-3{
    background-image: url('../imagenes/portafolio/ilustracion-tres.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    border: #000000 1px solid;
    margin-bottom: 24px;
}

.ilustracion-4{
    background-image: url('../imagenes/portafolio/ilustracion-cuatro.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    border: #000000 1px solid;
}

.boton-ilustracion a{
    text-align: center;
    color: white !important;
    background-color: black;
    border-radius: 15px;
    padding: 18px 74px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
    margin-top: 240px;
    margin-bottom: 20px;
}

.vertical-texto{
    writing-mode: vertical-lr;
    font-size: 40px;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    color: #000000;
    vertical-align: middle;
}

.ver-todos-ilustraciones a{
    text-align: center;
    color: white !important;
    background-color: black;
    border-radius: 15px;
    padding: 18px 74px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
    margin-top: 50px;
    display: none;
}

/*LOGOFOLIO PAG*/
/*LOGOFOLIO PAG*/
/*LOGOFOLIO PAG*/

    /*WHOLE PORTAFOLIO PAGES HEADER SETTINGS*/
.portafolio-pages-header{
    margin-top: 80px;
    margin-bottom: 20px;
    padding-top: 60px;
}

.logofolio-section1{
    padding: 0 8%;
    margin-bottom: 80px;
}

.logofolio-section1 img{
    object-fit: cover;
    border-radius: 15px;
    border: black solid 1px;
}

.logofolio-1{
    height: 300px;
}

.logofolio-2{
    height: 624px;
}

    /*WHOLE PORTAFOLIO PAGES PROYECT-TEXT SETTINGS*/
.proyect-text{
    position: relative;
    bottom: 3rem;
    left: 2rem;
}



/*BRANDING PAG*/
/*BRANDING PAG*/
/*BRANDING PAG*/
.branding-section1 img{
    border-radius: 15px;
    border: black solid 1px;
    object-fit: cover;
    height: 630px;
}


/*DISEÑO WEB PAG*/
/*DISEÑO WEB PAG*/
/*DISEÑO WEB PAG*/

.webfolio h4{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 28px;
}

.webfolio-img-1{
    height: 820px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
    border: black solid 1px;
}


.webfolio i{
    font-size: 32px;
    margin-right: 16px;
}

.color-webpage-1{
    color: #E51717;
}

.color-webpage-2{
    color: #485400;
}

.color-webpage-3{
    color: #565555;
}

.color-webpage-4{
    color: #2C2C2C;
}

.ver-pageweb a{
    text-align: center;
    color: white !important;
    background-color: black;
    border-radius: 15px;
    padding: 18px 74px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
    margin-bottom: 20px;
}


/*ARTES REDES SOCIALES PAG*/
/*ARTES REDES SOCIALES PAG*/
/*ARTES REDES SOCIALES PAG*/

.artes-section1{
    padding: 0 8%;
}
.artes-section1 img{
    border-radius: 15px;
    border: black solid 1px;
    object-fit: cover;
}
.artfolio-1{
    height: 300px;
}

.artfolio-2{
    height: 624px;
}


/*POSTER DISEÑO PAG*/
/*POSTER DISEÑO PAG*/
/*POSTER DISEÑO PAG*/

.poster-section1 img{
    border-radius: 15px;
    border: black solid 1px;
    object-fit: cover;
    height: 830px;
}


/*ILUSTRACIÓN PAG*/
/*ILUSTRACIÓN PAG*/
/*ILUSTRACIÓN PAG*/
.ilustracion-section1 img{
    border-radius: 15px;
    border: black solid 1px;
    object-fit: cover;
    height: 830px;
}


/*RECURSOS*/
/*RECURSOS*/
/*RECURSOS*/
.elementos{
    padding: 120px 0;
}

.recurso-img{
    border-radius: 15px;
    border: black solid 1px;
    object-fit: cover;
    width: 100%;
}

.fila-recursos{
    margin: 70px 0 30px;
}

/*PLANTILLAS*/
.plantillas{
    padding: 40px 0 100px;
}







/*MEDIA QUERIES*/
/*MEDIA QUERIES*//*//////////*/
/*MEDIA QUERIES*/
/*MEDIA QUERIES*/


/* More than extra large devices (less than 1600px | for the silly rotting bubbles) */
@media (max-width: 1600px) {
    /*Generales*/
    /*Header*/
    .header-main{
        margin-top: -210px;
    }

    .head-imgs-row{
        top: 390px;
    }

    .ojo-1{
        width: 410px;
    }

    .ojo-2{
        display: none;
    }
}


/* Extra large devices (less than 1400px)*/
/* XXL-BOOTSTRAP*/
/* XXL-BOOTSTRAP*/
@media (max-width: 1400px) {
    /*Generales*/
    /*Header*/
    .header-main{
        margin-top: -150px
    }

    .head-imgs-row{
        top: 350px;
        right: 70px;
    }

    .ojo-1{
        width: 350px;
    }

    /*Footer*/
    footer h3{
        font-size: 50px;
    }

    footer b{
        font-size: 46px;
    }
}


/* Delete bubble at 1300 */
@media (max-width: 1300px) {
    .header-main{
        margin: 200px 0 100px;
    }

    .ojo-1{
        display: none;
    }
}


/* Large devices (less than 1200px) XL-BOOTSTRAP*/
/* XL-BOOTSTRAP*/
/* XL-BOOTSTRAP*/
@media (max-width: 1200px) {
    /*Generales*/
    h3{
        font-size: 36px;
    }

    p{
        font-size: 12px;
    }

    /*Header*/
    .header-main a{
        padding: 17px 70px;
        font-size: 14px;
    }

    /*Quien soy*/
    .quien-soy img{
        width: 150px;
    }

    /*Curriculum*/
    .curri-tres{
        display: none;
    }

    .curri-uno{
        margin-bottom: 20px;
    }

    .curri-uno{
        /*Cambiar por imagenes que encajen*/
        background-image: url(../imagenes/home/curriculum2.jpg);
    }

    .curri-dos{
        background-image: url(../imagenes/home/curriculum2-2.jpg);
    }

    /*Conoce*/
    .lado-conoce{
        margin-top: 10px;
    }

    /*Redes sociales*/
    .social-media br{
        display: none;
    }

    .social-media b{
        font-size: 34px;
    }

    .social-media h3{
        text-align: center;
    }


    /*Recursos*/

    

    /*Portafolio diseño web*/
    .diwe-img-2{
        display: none;
    }

    .web-di-col2{
        text-align: center;
    }

    /*WEBFOLIO*/
    .webfolio{
        text-align: center;
    }
    
    /*Footer*/
    footer h3{
        font-size: 50px;
    }
    
    footer b{
        font-size: 47px;
    }
    
    .flecha{
        display: none;
    }
    
    .links-footer{
        top: 0px;
        margin-top: 60px;
        margin-bottom: 140px;
    }
    
    footer p{
        font-size: 11px;
    }
    
}

/* Medium devices (less than 992px) LG-BOOTSTRAP */
/* LG-BOOTSTRAP*/
/* LG-BOOTSTRAP*/
@media (max-width: 992px) {
    /*Generales*/
    h1{
        font-size: 52px;
        margin: 40px 0;
    }

    h2{
        font-size: 48px;
    }

    p{
        font-size: 11px;
    }

    /*NavBar2*/
    .navbar .contacto{
        display: none;
    }

    .contacto-li{
        display: inline-block;
    }

    .nav-item{
        border-right: 0;
    }
    .menu-nav-ablanco{
        padding: 16px !important;
    }

    /*Header*/
    .header-main{
        margin-top: 270px;
        margin-bottom: 220px;
    }

    .header-main p{
        font-size: 10px;
        margin: 0;
    }

    .header-main a{
        padding: 16px 66px;
        font-size: 14px;
    }

    /*Quien soy*/
    .quien-soy img{
        width: 140px;
    }

    /*Hacerlo es posible*/
    .marquee {
        font-size: 11px;
    }

    .dot{
        width: 1.2em;
    }

    .marquee span.text {
        width: 230px;
        letter-spacing: 1px;
    }

    /*PORTAFOLIO Ilustraciones*/
    .vertical-texto{
        display: none;
    }
    .ver-todos-ilustraciones a{
        display: inline-block;
    }

    /*Footer*/
    footer a{
        font-size: 15px;
    }
    /*Imágenes con col-6 que comparten 50% con otra col-6*/
    .col48-no50{
        width: 90%;
    }
}


/* Small devices (less than 768px) MD BOOTSTRAP */
/* MD-BOOTSTRAP*/
/* MD-BOOTSTRAP*/
@media (max-width: 768px) {
    /*Generales*/
    h1{
        font-size: 46px;
        margin: 40px 0 52px;
    }

    h2{
        font-size: 40px;
    }

    h3{
        font-size: 32px;
    }

    /*Header*/
    header p{
        font-size: 10px;
        margin: 0;
    }

    .header-main a{
        padding: 15px 54px;
        font-size: 13px;
    }

    /*Hacerlo es posible*/
    .marquee {
        font-size: 10px;
    }

    .marquee span.text--outline {
        -webkit-text-stroke: 1px white;
    }

    .marquee span.text {
        width: 210px;
    }

    /*Quien soy*/
    .quien-soy img{
        width: 130px;
    }

    /*Social media*/
    .consulta-media{
        margin-top: 14px;
    }

    .social-media b{
        font-size: 30px;
    }

    /*Footer*/
    footer h3{
        font-size: 42px;
    }

    footer b{
        font-size: 39px;
    }

    footer a{
        font-size: 14px;
    }

    footer p{
        font-size: 9px;
    }
}
/* Less than 660px) */
@media (max-width: 660px) {
    /*Generales*/
    h1{
        font-size: 38px;
    }

    h2{
        font-size: 36px;
    }

    p{
        font-size: 10px;
    }
}


/* Extra small devices (less than 576px) SM BOOTSTRAP*/
/* SM-BOOTSTRAP*/
/* SM-BOOTSTRAP*/
@media (max-width: 576px) {
    /*Generales*/
    h1{
        margin: 35px 0 48px;
    }

    h2{
        font-size: 30px;
    }

    h3{
        font-size: 28px;
    }

    p{
        font-size: 9px;
    }

    /*Dropdownmenú*/
    /* .dropdown_menu{
        left: 2rem;
        width: unset;
    } */

    /*Header*/
    header{
        margin-top: 250px;
        margin-bottom: 200px;
    }

    .header-main a{
        padding: 15px 40px;
        font-size: 11px;
    }

    header br{
        display: none;
    }

    header p{
        font-size: 8px;
        margin: 0;
    }

    /*Quien soy*/
    .quien-soy img{
        width: 110px;
    }

    /*Redes sociales*/
    .social-media b{
        font-size: 26px;
    }

    /*Footer*/
    footer h3{
        font-size: 36px;
    }

    footer b{
        font-size: 33px;
    }

    footer a{
        font-size: 12px;
    }
}
/* Extra small devices (less than 375px) */
@media (max-width: 375px) {
    
    /*Footer*/
    footer h3{
        font-size: 34px;
    }

    footer b{
        font-size: 31px;
    }

    footer a{
        font-size: 11px;
    }
    
    footer p{
        font-size: 8px;
    }
}